<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="blogs">
          <% @blogs.each do |blog| %>
            <div class="blog clearfix">
              <div class="blog-details">
                 <span class="blog-title"><%= link_to blog.title , blog %></span>
                 <span class="blog-description"><%= blog.body %></span>

                 
                 <% if signed_in? %>
                    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
                    <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
